body {
    display: inline-block;
}
ul {
	margin:0px;
	padding:0px;
}
 li {
	list-style: none;
	/*display: table-cell;*/
	text-align:center !important;
	vertical-align:top !important;
	min-width:80px !important;
	margin:0px;
	padding:0px;
}
.li_table{ 
	/*display: table;*/ 
	clear: both;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	background-color: transparent;
	list-style: none;
	padding:0;
}

.li_table li ul {
	/*display: table;*/ 
	clear: both;
	width: 100%;
	max-width: 100%;
	list-style: none;
    padding:0;
}

.li_table li ul li {
	display:inline-block;
	list-style: none;
	text-align: left;
	/*display: table-cell;*/
	/*padding: 8px;*/
	line-height: 1.42857143;
}

.li_table li:first-child ul li { 
	list-style: none;
	font-weight: bold;
	border-bottom-width: 2px;
	border-top: 0;
	vertical-align: bottom; 
}


.li_table li > span {
	background:#c6c6c6;
	width:90px !important;
	display: inline-block;
	margin:0 10px 0 10px;



	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #edc951;
	border: solid 1px #000000;
	color: #000;
	width: 50px;
	position: relative;
	display: inline-block;
}

.li_table table {
	width:100%;
	padding:0px;
	margin:0px;
	border-spacing: 0px
}
.li_table table td {
	width:50%;
	padding:0px;
	margin:0px;
}

.OrgLeftLine > table:first-child td:last-child { 
	clear:both;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	height:15px;
}


.OrgRightLine > table:first-child td:first-child { 
	clear:both;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	height:15px;
}

.OrgSingle > table:first-child > tbody > tr > td:first-child { 
	clear:both;
	border-top:0px !important;
	border-right:1px solid #000000 !important;
}
.OrgSingle > table:first-child > tbody > tr > td:last-child { 
	clear:both;
	border-top:0px !important;
	border-left:0px;
}



.li_table li > span.sad {
    background-color: #5ea763;
    color: #fff;
}

.li_table li > span.angry {
    background-color: #e56a77;
    color: #fff;
}




.li_table li > span:after {
    content:"";
    position:absolute;
    top: -18px; 
    left: -10px;
    width: 28px ;
    height: 28px;
    background-image: url('../images/pt_smile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 99997;    
}

.li_table li > span.sad:after {
    background-image: url(../images/pt_sad.png);
}

.li_table li > span.angry:after {
    background-image: url(../images/pt_angry.png);
}
